html, body{
    margin:0;
    padding:0;
}
main{
    background:black;
    width:700px;
    height:400px;
    display: inline-block;
}

.block-01{
    background:#fefd00;
    width:250px;
    height:400px;
    margin-right: 8px;
    display: block;
    float:left;
}

.block-02{
    background:white;
    width:274px;
    height: 400px;
    margin-right: 8px;
    display: block;
    float: left;
}

.block-03{
    background: red;
    width: 160px;
    height: 400px;
    display: block;
    float: left;
}

